:root {
    --answer-background-color: #333;
    --answer-text-color: white;
}


#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}


#quiz-form {
    width: clamp(300px, 50%, 500px);
}


#quiz-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    background-color: var(--answer-background-color);

    border-radius: 5px;

    gap: 10px;
}


#answer-container {
    display: flex;
    flex-wrap: wrap;
}


#answer-container label {
    display: flex;
    align-items: center;
}


.inactive {
    display: none !important;
}


.custom-radio-boolean input[type="radio"] {
    display: none;
}

.custom-radio-boolean {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 8px;
}

.custom-radio-boolean span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4CAF50; /* Custom border color */
    display: inline-block;
    margin-right: 8px;
    position: relative;
    transition: background-color 0.2s ease;
}

.custom-radio-boolean input[type="radio"]:checked + span {
    background-color: #4CAF50; /* Fill color when selected */
}